/* avoid use "global *" */
* {
  color: blue;
}

body p {
  color: green;
}

/* css class naming */
/* https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/ */
.BigRedClass {
  color: red;
  font-size: 30px;
}

/* color is "blue" already, redundant */
.blue {
  color: blue;
}
